@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dots {
  background-color: #1a1a1a;
  background-image: radial-gradient(circle, #333 1px, transparent 1px);
  background-size: 24px 24px;
}

/* Custom scrollbar styles */
.overflow-auto::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.overflow-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-auto::-webkit-scrollbar-thumb {
  background: transparent;
}

.overflow-auto::-webkit-scrollbar-corner {
  background: transparent;
}